In [39]:
import os
import json
import requests
from dotenv import load_dotenv
from pprint import pprint

In [40]:
load_dotenv()

BASE_SHEETY_URL=os.environ.get("BASE_SHEETY_URL")
SHEETY_AUTH_TOKEN=os.environ.get("SHEETY_AUTH_TOKEN")

In [ ]:
headers = {
    "Content-Type": "application/json",
    "Authorization": f"Bearer {SHEETY_AUTH_TOKEN}"
}

response = requests.get(url=BASE_SHEETY_URL, headers=headers)
response.raise_for_status()
raw_data = response.json()
pprint(raw_data)

{'sheet1': [{'city': 'Paris', 'iataCode': '', 'id': 2, 'lowestPrice': 54},
            {'city': 'Frankfurt', 'iataCode': '', 'id': 3, 'lowestPrice': 42},
            {'city': 'Tokyo', 'iataCode': '', 'id': 4, 'lowestPrice': 485},
            {'city': 'Hong Kong', 'iataCode': '', 'id': 5, 'lowestPrice': 551},
            {'city': 'Istanbul', 'iataCode': '', 'id': 6, 'lowestPrice': 95},
            {'city': 'Kuala Lumpur',
             'iataCode': '',
             'id': 7,
             'lowestPrice': 414},
            {'city': 'New York', 'iataCode': '', 'id': 8, 'lowestPrice': 240},
            {'city': 'San Francisco',
             'iataCode': '',
             'id': 9,
             'lowestPrice': 260},
            {'city': 'Dublin', 'iataCode': '', 'id': 10, 'lowestPrice': 378},
            {'city': 'Barranquilla', 'iataCode': 'BAQ', 'id': 11},
            {'city': 'Bogota', 'iataCode': 'BOG', 'id': 12},
            {'city': 'Cali', 'iataCode': 'CLO', 'id': 13},
            {'city': 'Cartagena', 'iataCode': 'CTG', 'id': 14},
            {'city': 'Medellin', 'iataCode': 'EOH', 'id': 15},
            {'city': 'Rionegro', 'iataCode': 'MDE', 'id': 16},
            {'city': 'San Andrés', 'iataCode': 'ADZ', 'id': 17},
            {'city': 'Santa Marta', 'iataCode': 'SMR', 'id': 18}]}

In [43]:
for row in raw_data['sheet1']:
    row_id = row['id']
    print(row)
    if row['iataCode'] == "":
        print("No IATA Code")
        update_data = {
            "sheet1": {
                "iataCode": "TESTING"
            }
        }
        put_url = f"{BASE_SHEETY_URL}/{row_id}"  # Build PUT request URL
        put_response = requests.put(url=put_url, headers=headers, json=update_data)
        put_response.raise_for_status()

{'city': 'Paris', 'iataCode': '', 'lowestPrice': 54, 'id': 2}
No IATA Code
{'city': 'Frankfurt', 'iataCode': '', 'lowestPrice': 42, 'id': 3}
No IATA Code
{'city': 'Tokyo', 'iataCode': '', 'lowestPrice': 485, 'id': 4}
No IATA Code
{'city': 'Hong Kong', 'iataCode': '', 'lowestPrice': 551, 'id': 5}
No IATA Code
{'city': 'Istanbul', 'iataCode': '', 'lowestPrice': 95, 'id': 6}
No IATA Code
{'city': 'Kuala Lumpur', 'iataCode': '', 'lowestPrice': 414, 'id': 7}
No IATA Code
{'city': 'New York', 'iataCode': '', 'lowestPrice': 240, 'id': 8}
No IATA Code
{'city': 'San Francisco', 'iataCode': '', 'lowestPrice': 260, 'id': 9}
No IATA Code
{'city': 'Dublin', 'iataCode': '', 'lowestPrice': 378, 'id': 10}
No IATA Code
{'city': 'Barranquilla', 'iataCode': 'BAQ', 'id': 11}
{'city': 'Bogota', 'iataCode': 'BOG', 'id': 12}
{'city': 'Cali', 'iataCode': 'CLO', 'id': 13}
{'city': 'Cartagena', 'iataCode': 'CTG', 'id': 14}
{'city': 'Medellin', 'iataCode': 'EOH', 'id': 15}
{'city': 'Rionegro', 'iataCode': 'MDE', 'id': 16}
{'city': 'San Andrés', 'iataCode': 'ADZ', 'id': 17}
{'city': 'Santa Marta', 'iataCode': 'SMR', 'id': 18}